<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JPVideoPlayerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VideoPlayer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>48B548EC1ED5B3AB00062DC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48CB2C121EDE49EA009DD486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48CB2C621EDE4E0C009DD486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48CB2CC81EDF034D009DD486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F6705621DADE88F001EBFAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
